/* -------START: COMMON STYLES---------------- */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Calibre", "San Francisco", "SF Pro Text", system-ui, "Roboto", "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

:root {
  --theme-green: #355862;
  --theme-dark-gray: #383838;
  --border-radius-container: 8px;
  --theme-box-shadow: 0px 3px 10px 5px rgba(20, 20, 20, 0.30);
  --theme-grid-boxes-background: #FBFAFA;
  --theme-error: #A12525;
}

.clear-fix {
  clear: both;
}

.body-wrapper {
  width: 100%;
  position: relative;

}

.content-wrapper {
  width: 80%;
  margin: 50px auto;
  overflow: hidden;
}


/* -------END: COMMON STYLES---------------- */

#header,
footer {
  text-align: center;
  font-weight: bold;
  color: var(--theme-dark-gray);
}

#header {
  margin: 0 auto;
  cursor: pointer;
}

footer {
  margin: 70px auto 10px;
}

#attribution {
  width: 100%;
  text-align: right;
  font-size: 12px;
  color: var(--theme-dark-gray);
}

@media only screen and (max-width: 970px) {
  .content-wrapper {
    width: 90%;
  }
}